<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<p>The color is <%=  @ketchup.color %></p>
<p>The quantity is <%=  @ketchup.quantity %></p>

<%= link_to "click", welcome_fake_path %>
